/target
/release-artifacts/
/.idea/
/app/node_modules
/app/dist
/app/src-tauri/target
**/*.rs.bk
.DS_Store
*.log
/.qoder
/dist
/.gemini
/hardware/esp8266/include/secrets.h
/hardware/esp8266/.pio/
/hardware/esp8266/.venv/
